.title{
    text-align: center;
    margin-top: 20px; 
}
.staff-card-container {
    display: flex;
    padding: 50px;
}
.staff-card-box {
    background-color: #FF9A35;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.staff-card-text {
    text-align: center;
    font-size: large;
}

.staff-image-box {
    background-color: #F9f9f9;
    height: 300px;
    width: 260px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.staff-card-box:hover {
    background-color: #fc850f;
    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);
}