.navbar {
    display: flex;
    justify-content: flex-end; 
    padding: 10px 0; 
    background-color: #c0c0d3;
  }
  
  .nav-items {
    display: flex;
    align-items: center; 
    gap: 50px;
  }
  
  .nav-button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #000000; 
    opacity: 95%;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .home-button {
    background-color: #4F8DDE; 
    color: white; 
    padding: 10px 30px; 
    border-radius: 5px; 
    margin-right: 30px;
  }
  
  .home-button:hover {
    background-color: #112A67; 
  }

  .active {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 8px;
  }  
  